<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/dist/css/chat-room.css">
    <title>{{roomName}} - {{title}}</title>
</head>

<body>
    <div class="background">
        <div class="message-field">
            <ol id="messages"></ol>
        </div>
        <div class="message-form-field">
            <form id="message-form">
                <input name="txtMessage" id="txtMessage" type="text">
                <button class="btn-submit" id="btnMessage" type="submit">Send</button>
                <button class="btn-submit" id="btnLocation" type="button">Send Location</button>
            </form>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/nunjucks.js"></script>
    <script>
        const userName = `{{ myUserName }}`;
        const roomName = `{{ roomName }}`;
    </script>
</body>

</html>